**/__pycache__
.idea/
.vscode/*
.cache/*
report/*
.gitlab/*
!report/.gitkeep
**/.coverage
build/network-service_*
build/package/debian/**
build/package/dist**
build/package/.vagrant/
**/bin**
build/package/coverage.html
build/package/coverage.cov
build/package/coverage_global.txt
build/package/govet-report.out
build/package/golint-report.out
build/package/golangcilint-report.xml
build/package/gosec-report.json
build/package/bin
