**/__pycache__
.idea/
.vscode/*
.cache/*
report/*

!report/.gitkeep
**/.coverage
build/network-service_*
build/package/debian/network-service.substvars
build/package/debian/network-service.prerm.debhelper
build/package/debian/network-service.postrm.debhelper
build/package/debian/network-service.postinst.debhelper
build/package/debian/network-service.debhelper.log
build/package/debian/files
build/package/debian/changelog
build/package/debian/network-service/
build/package/debian/.debhelper/
build/package/dist**
build/package/.vagrant/
**/bin**
